{% extends "layout.html" %}
{% block content %}
    <h1>Hello there!</h1>
    <p style="font-size:24px">My name is Qiao Yingjie. I am currently a first-year undergraduate in Singapore University of Technology and Design, going to major in computer science.</p>
    <p>

    </p>
    <p style="font-size:24px">I like coding. It is my major skill of my degree, my professors teach me ideas about it and I also constantly teach myself how to code.
        But beyond that, coding also teaches me another perspective into myself and my life -- everything can be systematically described, with a few precise definitions, step by step.
    </p>
    <p>

    </p>
    <p style="font-size:24px">I am proud to say that all my current coding skills are self-taught
        since there are no computer science courses offered in the first 2 semesters in SUTD curriculum.
        And self-learning these skills has proven to be rewarding: they earned me an internship opportunity, a research assistant position in a research project in SUTD, and helped me a lot in many school projects as well.
    </p>
    <p>

    </p>
    <p style="font-size:24px">
        I am actively looking for research opportunities and interesting projects, and I will be glad to enjoy some crafting with you together :)
    </p>
{% endblock content %}
